<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
      <tbody>
        <tr>
          <td align="center">
            <table width="600" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
              <tbody>
                <tr>
                  <td>
                    <table width="600" height="235" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                      <tbody>
                        <tr>
                          <td valign="top" align="left" style="background: #ccc;"></td>
                        </tr>
                      </tbody>
                    </table>
                    <table width="560" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                      <tbody>
                        <tr>
                          <td>
                            <div style="color: #333;">
                              <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                                <tbody>
                                  <tr>
                                    <td width="100%" height="32" valign="top" align="left"></td>
                                  </tr>
                                </tbody>
                              </table>
                              <h3 style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; text-align: left; line-height: 1.35em; margin: 0; padding: 0;">Lorem ipsum!</h3>
                              <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                                <tbody>
                                  <tr>
                                    <td width="100%" height="16" valign="top" align="left"></td>
                                  </tr>
                                </tbody>
                              </table>
                              <p style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.45em; margin: 0 0 1.2em; padding: 0;">
                                <Dolor>sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </Dolor>
                              </p>
                              <ul style="margin: 0; padding: 0 0 0 20px; list-style: none;">
                                <li style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 1.45em; margin: 0 0 0.5em; padding: 0; list-style: none;">— Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</li>
                                <li style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 1.45em; margin: 0 0 0.5em; padding: 0; list-style: none;">— Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
                                <li style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 1.45em; margin: 0 0 0.5em; padding: 0; list-style: none;">— Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                              </ul>
                              <p style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.45em; margin: 0 0 1.2em; padding: 0;">
                                <span style="font-style: italic;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
                              </p>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                      <tbody>
                        <tr>
                          <td width="100%" height="5" valign="top" align="left"></td>
                        </tr>
                      </tbody>
                    </table>
                    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                      <tbody>
                        <tr>
                          <td style="border-bottom: 1px solid #bbc7ce;"></td>
                        </tr>
                      </tbody>
                    </table>
                    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                      <tbody>
                        <tr>
                          <td width="100%" height="30" valign="top" align="left"></td>
                        </tr>
                      </tbody>
                    </table>
                    <h2 style="font-family: Arial, Helvetica, sans-serif; font-size: 32px; font-weight: normal; text-align: center; line-height: 1.15em; margin: 0; padding: 0;">Lorem ipsum</h2>
                    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                      <tbody>
                        <tr>
                          <td width="100%" height="20" valign="top" align="left"></td>
                        </tr>
                      </tbody>
                    </table>
                    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                      <tbody>
                        <tr>
                          <td width="280" valign="top" align="left">
                            <table width="280" height="180" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                              <tbody>
                                <tr>
                                  <td valign="top" align="left" style="background: #ccc;"></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td width="20" valign="top" align="left"></td>
                          <td valign="top" align="left">
                            <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                              <tbody>
                                <tr>
                                  <td width="100%" height="10" valign="top" align="left"></td>
                                </tr>
                              </tbody>
                            </table>
                            <p style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.45em; margin: 0 0 1.2em; padding: 0;">Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna</p>
                            <table align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                              <tbody>
                                <tr>
                                  <td width="180" height="36" style="border: 1px solid #77af43; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal;" valign="middle" align="center" bgcolor="#77af43">
                                    <a href="javascript: void(0);" style="font-family: Arial, Helvetica, sans-serif;text-decoration: none; width: 100%; display: block; color: white; cursor: pointer; line-height: 36px;" _target="blank">More</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                      <tbody>
                        <tr>
                          <td width="100%" height="10" valign="top" align="left"></td>
                        </tr>
                      </tbody>
                    </table>
                    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                      <tbody>
                        <tr>
                          <td style="border-bottom: 1px solid #bbc7ce;"></td>
                        </tr>
                      </tbody>
                    </table>
                    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                      <tbody>
                        <tr>
                          <td width="100%" height="10" valign="top" align="left"></td>
                        </tr>
                      </tbody>
                    </table>
                    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                      <tbody>
                        <tr>
                          <td width="280" valign="top" align="left">
                            <table width="280" height="180" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                              <tbody>
                                <tr>
                                  <td valign="top" align="left" style="background: #ccc;"></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td width="20" valign="top" align="left"></td>
                          <td valign="top" align="left">
                            <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                              <tbody>
                                <tr>
                                  <td width="100%" height="10" valign="top" align="left"></td>
                                </tr>
                              </tbody>
                            </table>
                            <p style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.45em; margin: 0 0 1.2em; padding: 0;">Nunc viverra imperdiet enim. Fusce est. Vivamus a tellus</p>
                            <table align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                              <tbody>
                                <tr>
                                  <td width="180" height="36" style="border: 1px solid #77af43; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal;" valign="middle" align="center" bgcolor="#77af43">
                                    <a href="javascript: void(0);" style="font-family: Arial, Helvetica, sans-serif;text-decoration: none; width: 100%; display: block; color: white; cursor: pointer; line-height: 36px;" _target="blank">More</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                      <tbody>
                        <tr>
                          <td width="100%" height="10" valign="top" align="left"></td>
                        </tr>
                      </tbody>
                    </table>
                    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                      <tbody>
                        <tr>
                          <td style="border-bottom: 1px solid #bbc7ce;"></td>
                        </tr>
                      </tbody>
                    </table>
                    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                      <tbody>
                        <tr>
                          <td width="100%" height="10" valign="top" align="left"></td>
                        </tr>
                      </tbody>
                    </table>
                    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                      <tbody>
                        <tr>
                          <td width="100%" height="30" valign="top" align="left"></td>
                        </tr>
                      </tbody>
                    </table>
                    <h2 style="font-family: Arial, Helvetica, sans-serif; font-size: 32px; font-weight: normal; text-align: center; line-height: 1.15em; margin: 0; padding: 0;">Lorem ipsum</h2>
                    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                      <tbody>
                        <tr>
                          <td width="100%" height="20" valign="top" align="left"></td>
                        </tr>
                      </tbody>
                    </table>
                    <table align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                      <tbody>
                        <tr>
                          <td width="280" valign="top" align="left">
                            <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                              <tbody>
                                <tr>
                                  <td>
                                    <table width="280" height="180" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                                      <tbody>
                                        <tr>
                                          <td valign="top" align="left" style="background: #ccc;"></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                                      <tbody>
                                        <tr>
                                          <td width="100%" height="10" valign="top" align="left"></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.45em; margin: 0 0 1.2em; padding: 0;" align="left">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</p>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <table align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                                      <tbody>
                                        <tr>
                                          <td width="180" height="36" style="border: 1px solid #333; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal;" valign="middle" align="center" bgcolor="#fff">
                                            <a href="javascript: void(0);" style="font-family: Arial, Helvetica, sans-serif;text-decoration: none; width:100%; display: block; color: #333; cursor: pointer; line-height: 36px;" _target="blank">More</a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td width="40" valign="top" align="left"></td>
                          <td width="280" valign="top" align="left">
                            <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                              <tbody>
                                <tr>
                                  <td>
                                    <table width="280" height="180" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                                      <tbody>
                                        <tr>
                                          <td valign="top" align="left" style="background: #ccc;"></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                                      <tbody>
                                        <tr>
                                          <td width="100%" height="10" valign="top" align="left"></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.45em; margin: 0 0 1.2em; padding: 0;" align="left">Proin pharetra nonummy pede. Mauris et orci</p>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <table align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                                      <tbody>
                                        <tr>
                                          <td width="180" height="36" style="border: 1px solid #333; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal;" valign="middle" align="center" bgcolor="#fff">
                                            <a href="javascript: void(0);" style="font-family: Arial, Helvetica, sans-serif;text-decoration: none; width:100%; display: block; color: #333; cursor: pointer; line-height: 36px;" _target="blank">More</a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
                      <tbody>
                        <tr>
                          <td width="100%" height="40" valign="top" align="left"></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
      <tbody>
        <tr>
          <td align="center">
            <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
              <tbody>
                <tr>
                  <td width="100%" height="20" valign="top" align="left"></td>
                </tr>
              </tbody>
            </table>
            <a href="javascript:void(0);" style="font-family: Arial, Helvetica, sans-serif;color: #333;">link</a>
            <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="transparent" style="margin: 0; padding: 0;">
              <tbody>
                <tr>
                  <td width="100%" height="5" valign="top" align="left"></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>